.modalBackdrop{
  height: 100vh;
  width: 100vw;
  position:fixed;
  top: 0;
  right: 0;
  z-index: 10;
  backdrop-filter: blur(3px);
  background-color: #00000050;
}

.modalContainer{
  position: fixed;
  width: 80vw;
  height: 30vh;
  top:30vh;
  right: 10vw;
  z-index: 20;

  padding: 30px 20px;
  border-radius: 20px;
  
  background-color: white;
  backdrop-filter: blur(10px);
}