.paginadoContainer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.li {
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  padding: 0.8rem 0.8rem;
  transition: all 0.25s;
  display: flex;
  align-items: flex-end;
}

.li:hover {
  transform: scale(1.3);
  transition-duration: 1.5s;
}

.a {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 206, 116);
  border-radius: 15px;
  cursor: pointer;
  border-color: orange;
}


.a:focus,
.a:hover,
.a:active {
  background-color: rgb(255, 191, 73);
  scale: 1.1;
  transition: 0.8s;
}