.containerChat {
    z-index: 4;
    position: fixed;
    bottom: 60px;
    height: 450px;
    right: 10px;
    display: flex;
    align-items: flex-end;
}

.buttonChat {
    z-index: 10;
    position: fixed;
    right: 10px;
    background-color: rgb(255, 183, 74);
    border-radius: 105px;
    color: wheat;
    border-color: rgba(255, 235, 205, 0);
    margin: 3px;
    padding: 10px;
}

.buttonChat:hover {
    background-color: rgb(255, 230, 148);
    color: rgb(255, 145, 0);
    transition: 1s;

}

@media only screen and (max-width:880px){
    .containerChat{
        display: none;
    }
    .buttonChat{
        display: none;
    }
    .containerChat{
        display: none;
    }
}