.backdropAlert{
  height: 100vh;
  width: 100vw;
  position:fixed;
  top: 0;
  right: 0;
  z-index: 10;
  backdrop-filter: blur(3px);
  background-color: #f1eeee50;
}

.alertContainer{
  position: fixed;
  top:40vh;
  left:15vw;
  height: fit-content;
  width: 70vw;
  z-index: 999;

  padding: 20px;

  background-color: rgba(3, 3, 3, 0.817);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  
  color: white;

  transition:all 3s

}

.buttonsBox{
  display: flex;
  justify-content: space-evenly;

  margin-top: 2rem;
}